@import "bootstrap.less";

body {
	padding-top: 40px;
}

.navbar .nav li:hover > a i {
	background-image: url(../images/glyphicons-halflings-white.png);
}

legend {
	float: left;
}

.input-thirds {
	width: 215px;
	margin-right: 5px;

	&:last-child {
		margin-right: 0;
	}
}

::-webkit-input-placeholder {
	font-family: @baseFontFamily;
}

:-moz-placeholder {
font-family: @baseFontFamily;
}

.definition {
	overflow: hidden;
	position: relative;

	* {
		float: left;
	}

	label {
		width: 20px;
		margin-right: 5px;
	}

	.cleditorMain {
		#font > .sans-serif(@baseFontSize,normal,@baseLineHeight);
		display: inline-block;
		width: 270px !important;
		height: 120px !important;
		height: @baseLineHeight;
		padding: 4px;
		margin-bottom: 9px;
		font-size: @baseFontSize;
		line-height: @baseLineHeight;
		color: @gray;
		border: 1px solid #ccc;
		.border-radius(3px);
		.box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
		@transition: border linear .2s, box-shadow linear .2s;
		.transition(@transition);
		clear: both;
		margin: 10px 0 0 25px;
		background-color: #fff;

		&:focus {
			border-color: rgba(82,168,236,.8);
			@shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
			.box-shadow(@shadow);
			outline: 0;
			outline: thin dotted \9; /* IE6-8 */
		}

		.cleditorToolbar {
			height: 24px !important;
			width: 278px;
			margin: -4px 0 0 -4px;
			#gradient > .vertical-three-colors(@white, @white, 25%, darken(@white, 10%)); // Don't use .gradientbar() here since it does a three-color gradient
			.border-radius(3px 3px 0 0);
			border-bottom: 1px solid #ccc;

			.cleditorButton {
				height: 24px;
				width: 24px;
				background-image: url('../images/buttons.gif');

				&:hover {
					background-color: darken(@white, 10%) !important;

					// transition is only when going to hover, otherwise the background
					// behind the gradient (there for IE<=9 fallback) gets mismatched
					.transition(background-position .1s linear);
				}
			}

			.cleditorDivider {
				border-right: 1px solid #CCC;
				height: 24px;
			}
		}
	}

	.close {
		position: absolute;
		top: 13px;
		right: 19px;

		&:hover {
			color: red;
		}
	}
}

form h3 {
	margin-top: 15px;
}

#sort-buttons {
	margin-bottom: 30px;

	a {
		width: 348px;
		padding: 4px 0;
	}
}

.word-list {
	.tab-pane {
		width: 580px;
		float: left;

		.word-details {
			border-bottom: 1px solid #ccc;
			padding: 10px 0px;
			position: relative;

			h3 {
				line-height: 60px;
				font-size: 35px;
				font-weight: normal;
			}

			.definitions {
				.part-of-speech {
					color: @grayLight;
					font-style: italic;
				}
			}

			.close {
				position: absolute;
				top: 25px;
				right: 0px;
				display: none;
			}

			&:hover {
				.close {
					display: block;
				}
			}
		}
	}
}

#wrapper {
	margin-top: 30px;

	#sidebar {
		position: fixed;
		padding: 9px 0;
	}
}